    /* global */

* {
  box-sizing:border-box;
}





/* Modal overlay */

.login-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}



/* modal */

.login-modal {
  background: #FFF;
  max-width: 480px;
  width: 100%;
  height: 390px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-box-shadow: 0 -2px 25px 0 rgb(0 0 0 / 15%), 0 13px 25px 0 rgb(0 0 0 / 30%);
  border-radius: 15px;
  padding: 110px 30px 30px 30px;
}


/* general styles */

.login-modal h1 {
  padding-top: 0;
    margin: 0;
    font-size: 30px;
    color: #0b62a5;
    padding-bottom: 10px;
    position: absolute;
    top: 47px;
    font-weight: bold;
    left: 18vh;
}
/* 
.login-modal h2 {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #757575;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  hyphens: auto;
  padding-bottom: 30px;
} */


/* form & imputs */

.login-modal .group { 
	position: relative; 
	margin-bottom: 45px; 
}

.login-modal input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: transparent;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #cdcdcd;
}

.login-modal input:focus {
  outline: none;
}


/* Label */

.login-modal label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

.login-modal input:focus ~ label,
.login-modal input.used ~ label {
	top: -20px;
  transform: scale(.75);
  left: -4px;
	color: #00A0E3;
}


/* Underline */

.login-modal .bar {
	position: relative;
	display: block;
	width: 100%;
}

.login-modal .bar:before,
.login-modal .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #00A0E3; 
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.login-modal .bar:before {
  left: 50%;
}

.login-modal .bar:after {
  right: 50%;
}


/* active */

.login-modal input:focus ~ .bar:before,
.login-modal input:focus ~ .bar:after {
  width: 50%;
}


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

.btnEntrarLog{
  padding: 15px;
    width: 100%;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    background: #0b62a5;
    color: white;
}